@section Link
    {
    <link rel="stylesheet" href="~/Kashi_Seramic_Theme/assets/css/ShopingCard.css">
}


<div class="modal fade" id="ShopingCard" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body" id="cardbody">
                <div class="row align-items-center gx-5">
                    <h1>سبد خرید</h1>
                    <table>
                        <tr>
                            <th></th>
                            <th>نام محصول</th>

                            <th>قیمت</th>
                            <th>تعداد</th>
                            <th> جمع کل</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class="text-center w-15"> <img src="Kashi_Seramic_Theme/assets/img/kashi/0x145 (1).jpg" class="w-50 my-2" /> </td>
                            <td>کاشی مدا 110</td>
                            <td>100000هزار تومان</td>
                            <td>22</td>
                            <td>22</td>
                            <td>
                                <a href="#">

                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="24" height="24" x="0" y="0" viewBox="0 0 408.483 408.483" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M87.748 388.784c.461 11.01 9.521 19.699 20.539 19.699h191.911c11.018 0 20.078-8.689 20.539-19.699l13.705-289.316H74.043l13.705 289.316zm159.907-217.455a8.35 8.35 0 0 1 8.35-8.349h13.355a8.351 8.351 0 0 1 8.35 8.349v165.293a8.35 8.35 0 0 1-8.35 8.349h-13.355a8.35 8.35 0 0 1-8.35-8.349V171.329zm-58.439 0a8.35 8.35 0 0 1 8.349-8.349h13.355a8.35 8.35 0 0 1 8.349 8.349v165.293a8.348 8.348 0 0 1-8.349 8.349h-13.355a8.348 8.348 0 0 1-8.349-8.349V171.329zm-58.441 0a8.35 8.35 0 0 1 8.349-8.349h13.356a8.35 8.35 0 0 1 8.349 8.349v165.293a8.349 8.349 0 0 1-8.349 8.349h-13.356a8.348 8.348 0 0 1-8.349-8.349V171.329zM343.567 21.043h-88.535V4.305A4.305 4.305 0 0 0 250.727 0h-92.971a4.305 4.305 0 0 0-4.304 4.305v16.737H64.916c-7.125 0-12.9 5.776-12.9 12.901V74.47h304.451V33.944c0-7.125-5.775-12.901-12.9-12.901z" fill="#ed1b03" data-original="#000000" opacity="1" class=""></path></g></svg>

                                </a>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SearchbarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body" id="cardbodySearchBar">
                <form action="/Search/SearchText" method="post" style="width:80%;margin-right:auto;margin-left:auto;height:50px" class="d-block" id="showsearch">
                    <div class="input-group my-0" style="z-index:1">
                        <button type="submit" id="IconSearchBar" class="btn input-group-text bg-white w-15  text-muted">
                            <a href="#" onclick="searchclick()" class="float-start mt-2 ">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="24" height="24" x="0" y="0" viewBox="0 0 118.783 118.783" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M115.97 101.597 88.661 74.286a47.75 47.75 0 0 0 7.333-25.488c0-26.509-21.49-47.996-47.998-47.996S0 22.289 0 48.798c0 26.51 21.487 47.995 47.996 47.995a47.776 47.776 0 0 0 27.414-8.605l26.984 26.986a9.574 9.574 0 0 0 6.788 2.806 9.58 9.58 0 0 0 6.791-2.806 9.602 9.602 0 0 0-.003-13.577zM47.996 81.243c-17.917 0-32.443-14.525-32.443-32.443s14.526-32.444 32.443-32.444c17.918 0 32.443 14.526 32.443 32.444S65.914 81.243 47.996 81.243z" fill="#000000" data-original="#000000"></path></g></svg>
                            </a>
                        </button>
                        <input id="TextBoxSearchBar" type="text" style="" class="form-control w-75  text-end" name="title" placeholder="جست و جو کنید">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="SuucessAddCardModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body text-center p-4 pb-5">
                   
                    <i class="icon icon-check fs-70 text-success lh-1 my-5 d-inline-block"></i>
                    <h4 class="text-success tx-semibold">سبد خرید</h4>
                    <p class="mg-b-20 mg-x-20">دوره با موفقت به سبد خرید شما اضافه شد.</p><button aria-label="Close" onclick="AddCard(@ViewBag.blogid)" class="btn btn-success pd-x-25" data-bs-dismiss="modal">ادامه</button>
                </div>
            </div>
        </div>
    </div>
</div>
