<section class="property-wrap ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="section-title style1 text-center mb-40">
                    <h2>آخرین لیست خانه ها</h2>
             
                </div>
            </div>
        </div>
        <div class="property-slider-two owl-carousel">
            <div class="property-card style4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
                <div class="property-img">
                    <img src="/Kashi_Seramic_Theme/assets/img/property/property-20.jpg" alt="Image">
                    <span class="property-status">برای اجاره</span>
                </div>
                <div class="property-info">
                    <h3><a href="listing-details.html">ویلای مدرن</a></h3>
                    <p><i class="flaticon-location"></i>خیابان شرقی، کوچه 4521</p>
                    <ul class="property-metainfo list-style">
                        <li>05<i class="flaticon-double-bed"></i></li>
                        <li>04<i class="flaticon-bath-tub"></i></li>
                        <li>1300<i class="flaticon-square"></i></li>
                    </ul>
                    <p class="property-price">35,000 تومان/<span>ماه</span></p>
                </div>
            </div>
            <div class="property-card style4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                <div class="property-img">
                    <img src="/Kashi_Seramic_Theme/assets/img/property/property-21.jpg" alt="Image">
                    <span class="property-status">برای اجاره</span>
                </div>
                <div class="property-info">
                    <h3><a href="listing-details.html">ویلای مدرن</a></h3>
                    <p><i class="flaticon-location"></i>خیابان شرقی، کوچه 4521</p>
                    <ul class="property-metainfo list-style">
                        <li>05<i class="flaticon-double-bed"></i></li>
                        <li>04<i class="flaticon-bath-tub"></i></li>
                        <li>1300<i class="flaticon-square"></i></li>
                    </ul>
                    <p class="property-price">35,000 تومان/<span>ماه</span></p>
                </div>
            </div>
            <div class="property-card style4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
                <div class="property-img">
                    <img src="/Kashi_Seramic_Theme/assets/img/property/property-22.jpg" alt="Image">
                    <span class="property-status">برای اجاره</span>
                </div>
                <div class="property-info">
                    <h3><a href="listing-details.html">ویلای مدرن</a></h3>
                    <p><i class="flaticon-location"></i>خیابان شرقی، کوچه 4521</p>
                    <ul class="property-metainfo list-style">
                        <li>05<i class="flaticon-double-bed"></i></li>
                        <li>04<i class="flaticon-bath-tub"></i></li>
                        <li>1300<i class="flaticon-square"></i></li>
                    </ul>
                    <p class="property-price">35,000 تومان/<span>ماه</span></p>
                </div>
            </div>
            <div class="property-card style4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
                <div class="property-img">
                    <img src="/Kashi_Seramic_Theme/assets/img/property/property-29.jpg" alt="Image">
                    <span class="property-status">برای اجاره</span>
                </div>
                <div class="property-info">
                    <h3><a href="listing-details.html">ویلای مدرن</a></h3>
                    <p><i class="flaticon-location"></i>خیابان شرقی، کوچه 4521</p>
                    <ul class="property-metainfo list-style">
                        <li>05<i class="flaticon-double-bed"></i></li>
                        <li>04<i class="flaticon-bath-tub"></i></li>
                        <li>1300<i class="flaticon-square"></i></li>
                    </ul>
                    <p class="property-price">35,000 تومان</p>
                </div>
            </div>
        </div>
    </div>
</section>