#searchFirstMenu {
    margin-left: 1%;
    margin-right: 10%;
}
#IconSearchBar {
    border-color: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
w-10{
    width:10%
}
w-15 {
    width: 15%
}
mt-200{
    margin-top:117px;
}
.mr_1 {
    margin-right: 1%;
}

@keyframes searchboxframe {
    from {
        display: none;
    }

    to {
        display: block;
    }
}
.ImageBaner {
    width: 100%;
    height: auto;
}
#TextBoxSearchBar {
    border:1px solid black;
    padding: 25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

    #TextBoxSearchBar::placeholder {
        text-align: right;
    }

#cardbodySearchBar {
    height: 153px;
}

#showsearch {
    display: none;
    animation-name: searchboxframe;
    animation-duration: 10s;
}

.searchpanel {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px
}

    .searchpanel input {
        text-align: right;
        border-style: none
    }

#firstmenu {
    background-color: #444444;
    color: white;
    height: 40px
}

    #firstmenu a {
        color: white;
    }

    #firstmenu i {
        color: white;
        height: 50px;
        margin-left: 10px
    }
