@using Pr_Signal_ir.MVC.Models.Ticket;

@model CreateTicketVM
@{
    ViewBag.title = "تیکت چدید ها";
    ViewBag.keywords = " ";
    ViewBag.author = "  ";
    ViewBag.description = "";
    ViewBag.robot = "noindex,nofollow";
    ViewBag.socialmedia = false;
    ViewBag.link = "";
    ViewBag.imageurl = "";
    ViewBag.username = "noosignalls";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-md-12" dir="rtl">
    <div class="card" dir="rtl">
        <div class="card-header">
            <h3 class="card-title">تیکت  جدید</h3>
        </div>
        <div class="card-body pb-2 ">
            <form class="needs-validation was-validated" action="/User/Ticket/CreateTicket" method="post" enctype="multipart/form-data">
                <div class="row row-sm">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="text" name="Title" required placeholder="عنوان را وارد کنید..." class="form-control mb-4 is-invalid state-invalid" />
                            @*@Html.EditorFor(a=>,new { htmlAttributes = new { @, @,@required="",@type="text" } } )*@
                            @*  @Html.HiddenFor(a=>a.Id)*@
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <select name="groupId">
                                <option selected value="0">انتخاب کنید...</option>
                                @foreach (var item in Model.Group)
                                {
                                    <option value="@item.Id">@item.NameGroup</option>
                                }
                            </select>

                        </div>
                    </div>

                    <div style="text-align: right;">
                        <textarea name="Text" id="summernote">

                                           </textarea>
                    </div>


                    <button class="btn btn-primary btn-sm mt-4 mb-0 justify-content-center">دخیره</button>

                </div>
            </form>
        </div>
    </div>
</div>

    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- SIDEBAR JS -->
    <script src="/assets/plugins/sidebar/sidebar.js"></script>

    <!-- INPUT MASK JS-->
    <script src="/assets/plugins/input-mask/jquery.mask.min.js"></script>

    <!-- SIDE-MENU JS-->
    <script src="/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- TypeHead js -->
    <script src="/assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
    <script src="/assets/js/typehead.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="/assets/plugins/p-scroll/perfect-scrollbar.js"></script>
    <script src="/assets/plugins/p-scroll/pscroll.js"></script>
    <script src="/assets/plugins/p-scroll/pscroll-1.js"></script>

    <!-- INTERNAL WYSIWYG Editor JS -->
    <script src="/assets/plugins/wysiwyag/jquery.richtext.js"></script>
    <script src="/assets/plugins/wysiwyag/wysiwyag.js"></script>

    <!-- INTERNAL SUMMERNOTE Editor JS -->
    <script src="/assets/plugins/summernote/summernote1.js"></script>
    <script src="/assets/js/summernote.js"></script>

    <script src="/assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
    <script src="/assets/plugins/fancyuploder/jquery.fileupload.js"></script>
    <script src="/assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
    <script src="/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
    <script src="/assets/plugins/fancyuploder/fancy-uploader.js"></script>
    <script src="/assets/plugins/fileuploads/js/fileupload.js"></script>
    <script src="/assets/plugins/fileuploads/js/file-upload.js"></script>
    <!-- INTERNAL FORMEDITOR JS -->
    <script src="/assets/plugins/quill/quill.min.js"></script>
    <script src="/assets/js/form-editor2.js"></script>

    <!-- Froala Editor JS-->
    <script src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
    <script src="/assets/js/froala.js"></script>

    <!-- Color Theme js -->
    <script src="/assets/js/themeColors.js"></script>

    <!-- Sticky js -->
    <script src="/assets/js/sticky.js"></script>

    <!-- CUSTOM JS -->
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/plugins/select2/select2.full.min.js"></script>

