<div class="sidebar-widget style4">
    <div class="search-box">
        <div class="form-group">
            <form action="/Search/SearchText" method="post">
                <input name="Title" type="search" placeholder="جستجو">
                <button type="submit">
                    <i class="flaticon-search"></i>
                </button>
            </form>
           
        </div>
    </div>
</div>

