@using Pr_Signal_ir.MVC.Models;
@model ErrorViewModel
@{
    
}


<div class="content-wrapper">

    <div class="error-wrap ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="error-content">
                        <img src="/Kashi_Seramic_Theme/assets/img/404.png" alt="Iamge">
                        <h2>اوه! صفحه یافت نشد</h2>
                        <p>صفحه ای که به دنبال آن هستید ممکن است در صورت تغییر نام حذف شده باشد یا به طور موقت در دسترس نباشد.</p>
                        <a href="/" class="btn style1">بازگشت به خانه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>